<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.incir.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".omurgaBackbone.AddObjectToApp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".P001Menu"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".P002GetGithubUsers"></activity>

        <activity android:name=".P003GetGithubPublicGists"></activity>

        <activity android:name=".P004GetUserReposByLogin"></activity>

        <activity android:name=".P005FragmentLifeCycle"></activity>

        <activity android:name=".P006TwoFragment"></activity>

        <activity android:name=".P007YoutubeToolbar"></activity>

    </application>

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>  //unutma!

</manifest>

    <!--   android:name=".omurgaBackbone.AddObjectToApp"     iste bu ilginc-->
